<!DOCTYPE html>
<html>
  <head>
    <title>Flexnotebook</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div id="wrapper">
    <body>
      <%= render "layouts/header" %>

      <aside class='col-md-4'>
        <%= render "layouts/sidebar"%>
      </aside>
      
      <div class='col-md-8'>
        <%= yield %>
      </div>      

      <%= render "layouts/footer" %>
    </body>
  </div>
  
</html>
